extends template 
block content
  h1.header TRAVEL EXPERTS
  img(src='Images/Globe blue on transparent.png')
  //- Display welcome message for succesful login
  div 
    if headermsg
      h2= headermsg
div
  section
    .browse-package
      h2 Plan Your Dream Vacation
      p
        a(href='packages')
          button.button(type='button') VIEW PACKAGES&#x25BA;
  section.white
    h2 Why Travel with Travel Experts
    h3
      | Travel with Confidence.
      | Travel with Class.
      | Travel in Comfort.
    img(src='/Images/Globe blue on transparent.png')
  section.gray
    h2 CONTACT US TODAY
    p
      | If you are looking to speak to an agent, contact us by clicking the
      | button below!
    a(href='contact')
      button.btn-contact.action CONTACT US

  footer.main-footer
    div
      p
        | &#169 2020 Travel Experts Inc
